#search {
	text-align: center;
	font: "Helvetica Neue";
	margin-top: 50px;
	background-color: #ADD8E6; 
	height:3em;
	padding: 4em; 
	margin-left: 15em; 
	margin-right: 15em; 
	border-radius: 25px
}

body {
	background-color: #000000;
}

#results {
	font: "Helvetica Neue";
	font-color: #ffffff;
}